<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="'navigation'"
      [mode]="'side'"
      [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="setPage(0)">Channel Config</a>
      <a mat-list-item (click)="setPage(3)">Remote Control</a>
      <a mat-list-item (click)="setPage(1)">Bus Config</a>
      <a mat-list-item (click)="setPage(2)">Config Files</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="height: 100%;">
    <div style="display:flex; flex-direction:column; position: absolute; top: 0; bottom: 0; width: 100%;">
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <div style="display: flex; justify-content: center; text-justify: center;">
          <h1>{{this.showName}}</h1>
        </div>
      </mat-toolbar>
      <!-- CHANNEL CONFIGURATION -->
      <div *ngIf="this.channelConfigVisible" style="display: flex; flex-direction: column; height: 100%;">
        <button (click)="openDialog()" [style.backgroundColor]="this.channelColor" style="border-color: transparent; border: 0">
          <mat-card style="background-color: transparent;">
            <h1 class="mat-h1" style="color: white;">{{ this.channelName }}</h1>
          </mat-card>
        </button>
        <div style="flex-grow: 1;">
          <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" style="height: 100%;">
            <mat-tab label="Input">
              <app-input-page></app-input-page>
            </mat-tab>
            <mat-tab label="EQ">
              <app-eq-page></app-eq-page>
            </mat-tab>
            <mat-tab label="Compressor">
              <app-compressor-page></app-compressor-page>
            </mat-tab>
            <mat-tab label="Gate">
              <app-gate-page></app-gate-page>
            </mat-tab>
          </mat-tab-group>
        </div>
        <div style="bottom: 0;">
          <app-inputbar></app-inputbar>
        </div>
      </div>
      <!-- REMOTE CONTROL -->
      <div *ngIf="this.remoteControlVisible" style="display: flex; flex-direction: column; height: 100%;">
        <app-remote-control style="flex-grow: 1;"></app-remote-control>
      </div>
      <!-- BUS CONFIGURATION -->
      <div *ngIf="this.busConfigVisible" style="display: flex; flex-direction: column; height: 100%;">
        <app-bus-config style="flex-grow: 1;"></app-bus-config>
      </div>
      <!-- LOAD CONFIG -->
      <div *ngIf="this.loadConfigVisible" style="display: flex; flex-direction: column; height: 100%;">
        <app-load-config-page></app-load-config-page>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
