<div class="grid-container">
  <!--
  <div class="grid-item">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Invert Phase</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <span>
              <mat-slide-toggle [checked]="this.invertPhase" (toggleChange)="updateInvertPhase()"></mat-slide-toggle>
            </span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="grid-item">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Stereo Group</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <span>
              <mat-slide-toggle [checked]="this.stereoGroup" (toggleChange)="updateStereoGroup()"></mat-slide-toggle>
            </span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="grid-item">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Gain</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <span matListItemTitle>{{this.gain}} dB</span>
            <span matListItemLine>
              <mat-slider color="primary" [max]="20" [min]="-20" discrete step="0.25" style="width:100%;">
                <input matSliderThumb [(ngModel)]="gain" (valueChange)="updateGain()">
              </mat-slider>
            </span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  -->
</div>
